@font-face {
  font-family: "PTSans";
  src: url("fonts/PTSansRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("fonts/PTSansItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PTSans";
  src: url("fonts/PTSansBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "PTSans";
  src: url("fonts/PTSansBoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

html {
  font-family: PTSans, Arial, sans-serif;
  font-size: 62.5%;
}